body {
 font-family: 'Lato';
}

#navContainer {
  background-color: #3090C7;
  border-color: #3090C7;
  padding-left: 13em;
  padding-right: 13em;
  margin-bottom: 0;
  border-radius: 0;
}
    #navContainer>#linkContainer1 {
      margin-top: -1px;
      width: 200px;
      display: inline-block;
      border: 1px solid black;
    }

        #navContainer>#linkContainer1>li {
          width: 100%;
          padding-top: 3em;
          padding-bottom: 3em;
          border-top: 5px solid #3090C7;
          text-align: center;
        }

        #navContainer>#linkContainer1>li>h4 {
          width: 100%;
          color: white;
          font-size: 18px;
        }

    #navContainer>#linkContainer2 {
      margin-top: -1px;
    }

        #navContainer>#linkContainer2>li {
          padding-top: 2em;
          padding-bottom: 2em;
          border-top: 5px solid #3090C7;
        }

        #navContainer>#linkContainer2>li:hover {
          border-top: 5px solid white;
        }

            #navContainer>#linkContainer2>li>a {
              color: white;
              opacity: .6;
            }

            #navContainer>#linkContainer2>li>a:hover {
              opacity: 1;
            }

#mainContainer {
  padding-left: 0;
}

    #mainContainer>section {
      padding-left: 0;
      padding-bottom: 3em;
    }

        #secOneContainer {
          background-color: red;
          height: 495px;
          z-index: -1;
        }

            #myCarousel {
              width: 100%;
              display: block;
              position: absolute;
              z-index: 0;
            }

                #myCarousel>.carousel-inner {

                }

                    #myCarousel>.carousel-inner>.item {

                    }

                        #myCarousel>.carousel-inner>.item>img {
                          display: block;
                          height: 495px;
                          min-width: 100%;
                          width: 100%;
                          max-width: 100%;
                          line-height: 1;
                        }

            #secOneMainContentContainer {
              margin-left: 13em;
              margin-top: 4em;
              width: 700px;
              position: absolute;
              z-index: 1;
            }

                #secOneMainContentContainer>h1 {
                  font-size: 48px;
                  font-weight: bold;
                  color: white;
                }

                #secOneMainContentContainer>p {
                  font-size: 18px;
                  color: white;
                }

                #secOneMainContentContainer>div>div>button {
                  border-radius: 0;
                  padding: 12px;
                }

                #bookAppBtn {
                  margin-left: 2em;
                  background-color: transparent;
                  border: 1px solid white;
                  color: white;
                }

                    #bookAppBtn:hover {
                      border: 1px solid transparent;
                      background-color: #5bc0de;
                      transition-duration: .3s;
                    }

        #secTwoContainer {

        }

            #secTwoMainContentContainer {
              padding-left: 13em;
              padding-right: 13em;
            }

                #secTwoMainContentContainer>p {
                  font-size: 18px;
                  opacity: .7;
                }

                #secTwoMainContentContainer>button {
                  border-radius: 0;
                  padding-left: 1.5em;
                  padding-right: 1.5em;
                }

        #secThreeContainer {
          background-color: rgba(135, 175, 199, .2);
        }

            #secThreeMainContentContainer {
              padding-left: 13em;
              padding-right: 13em;
            }

                #secThreeMainContentContainer>p  {
                  font-size: 18px;
                  opacity: .7;
                }

                #secThreeMainContentContainer>ul>li>a {
                  font-size: 18px;
                  opacity: .7;
                }

                #secThreeMainContentContainer>button {
                  border-radius: 0;
                  padding-left: 1.5em;
                  padding-right: 1.5em;
                }

        #secFourContainer {

        }

            #secFourAllContentContainer {
              padding-left: 13em;
              padding-right: 13em;
            }

                #secFourMainContentContainer {
                  width: 80%;
                  display: inline-block;
                }


                    #secFourMainContentContainer>p  {
                      font-size: 18px;
                      opacity: .7;
                    }

                    #secFourMainContentContainer>button {
                      border-radius: 0;
                      padding-left: 1.5em;
                      padding-right: 1.5em;
                    }

                #facePicContainer {
                  margin-top: 4em;
                  display: inline-block;
                  float: right;
                }

                    #facePicContainer>img {
                      min-width: 200px;
                      width: 200px;
                      max-width: 200px;
                      display: block;
                      border-radius: 50%;
                      line-height: 1;
                    }

        #secFiveContainer {
          background-color: rgba(135, 175, 199, .2);
        }

        #secSixContainer {

        }

#footerContainer {
  background-color: rgba(135, 175, 199, .2);
  padding-left: 13em;
  padding-right: 13em;
  padding-top: 1em;
  padding-bottom: 4em;
  bottom: 0;
}

#footerContainer>div>section {
  padding-left: 0;
}
